# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# Project specific
biometric_data/*
!biometric_data/kaggle_dataset/

# Numpy Arrays (Scores, Templates)
*.npy

# Cryptographic Keys
*.key
biometric_vault.key
